* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: 'Montserrat', "Arial", sans-serif;
  margin: 0;
}

a {
  transition: all 0.3s ease-in-out;
  color: #f2c06b;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

input {
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
}

textarea {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
}

button {
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  outline: none;
  -webkit-appearance: none;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main {
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@keyframes scroll-down-btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll-down-btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
