.about-me {
  .content {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10vh;
    text-align: center;
    flex-direction: row;

    h2 {
      padding-bottom: 20px;
      font-size: 40px;
    }

    p {
      padding-left: 25px;
      font-size: 20px;
    }
  }
}

.skills {
  padding: 0 12vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  .content {
    display: flex;

    img {
      margin-bottom: 2vh;
    }

    .skills-text {
      margin: 0 10px;
      text-align: center;
      flex-direction: column;

      h1 {
        padding-top: 4vh;
        padding-bottom: 2vh;
        font-size: 30px;
        font-weight: bold;
      }

      p {
        font-size: 20px;
      }
    }
  }
}

.feedback-section {
  margin-top: 10vh;
  padding: 5vh 0;
  background-color: #5c87a5;

  .section-title {
    font-size: 40px;
    text-align: center;
    padding-bottom: 5vh;
    color: white;
  }

  .feedback-slider {
    margin: 0 auto;
    width: 100%;
  }

  .slide {
    display: flex;
    margin: 0 auto;
    align-items: center;
  }

  .slide-photo {
    margin-right: 45px;
  }

  .slide-info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .slide-title {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
  }

  .slide-name {
    font-size: 18px;
    color: #fff;
  }

  .slide-time {
    font-size: 14px;
    color: #ffa959;
  }

  .slide-text {
    font-size: 14px;
    line-height: 1.57;
    color: #ffffff;
  }
}
